@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');

}

@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'SpaceMono';
}

:root {
    --sidebar-width: 300px;
}

::placeholder {
    color: #ff0000;
}
/* HEADER */
#header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: #1c1c1c;
}


#title {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

#title-text {
    color: #fff;
}

#user {
    display: flex;
    justify-content: space-evenly;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#user-name {
    color: #fff;
}

#user-status {
    color: #fff;
}

nav {
    margin-top: 6%;
}

#navigation {
    text-align-last: center;
}

.nav-item {
    text-align: right;
    margin-right: 4%;
}

.nav-item a {
    color: #fff;
}

.nav-link {
    color: #000;
    font-size: 23px;
    font-weight: 300;
}

.nav-icon {
    margin-right: 1rem;
}

#home-link:hover {
    color: #A80000;
}

#project-link:hover {
    color: #6e5494 !important;
}

#chart-link:hover {
    color: #FFA500;
}

#excel-link:hover {
    color: #1D6F42 !important;
}

#editor-link:hover {
    color: #5c5c5c !important;
}

.fa-edit {
    color: #5c5c5c !important;
}

.fa-home {
    color: #A80000 !important;
}

.fa-code {
    color: #6e5494 !important;
}

.fa-chart-pie {
    color: #FFA500 !important;
}

.fa-calendar-alt {
    color: #0a58ca !important;
}

.fa-file-excel {
    color: #1D6F42 !important;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.fas,
.fab {
    color: #fff;
}

#options-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: var(--sidebar-width);
}

.setting {
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
}

.social-icons {
    font-size: 25px;
}


.fa-user:hover {
    transition: all .8s;
    color: #3decff;
}

.fa-envelope:hover {
    transition: all .8s;
    color: #D44638;
} 

.fa-cog:hover {
    color: grey;
    transition: all .5s;
    -webkit-animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.fa-power-off:hover {
    transition: all .8s;
    color: #ff0000;
}


/* HEADER */

#login-main,
#register-main,
#forgot-main {
    width: 100vw;
    height: 100vh;
    background: #070c24;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#login-main #login-container,
#register-main #register-container2,
#forgot-main #forgot-container {
    position: relative;
    background-color: #fff;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25%;
    top: 15%;
    right: 0;
    bottom: 0;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 20px;
}

#login-main #login-container::before,
#register-main #register-container2::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 160%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate 4s linear infinite;

}

#login-main #login-container::after,
#register-main #register-container2::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #070c24;
    border-radius: 20px;
}

@keyframes animate {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
} 

#login-main #login-container #login-inner,
#register-main #register-container2 #register-inner,
#forgot-main #forgot-container #forgot-inner {
    margin-top: 5%;
    z-index: 1;
}

#login-main #login-container2 #login-inner #page-title #login-title {
    color: #fff;
}


#login-main #login-container #login-inner form,
#register-main #register-container2 #register-inner form {
    margin-top: 15%;
}

#login-main #login-container #login-inner form .form-group label
#register-main #register-container2 #register-inner form .form-group label {
    font-size: 20px;
    font-weight: 100 !important;
    color: #fff;
}

#login-main #login-container #login-inner form .form-group .form-input {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #00ccff !important;
    width: 280px !important;
}

#login-main #login-container #login-inner form .form-group .form-input:focus {
    transition: all .5s ease;
    border: 1px solid #3decff !important;
}

#login-main #login-container #login-inner form button {
    font-size: 15px;
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color: #fff;
}

#login-main #login-container #login-inner form button:hover {
    transition: all 1s;
    border: 1px solid #3decff;
    background-color: #fff;
    color: #000;
}

#login-main #login-container #login-inner #register-container #register-text,
#login-text,
#login-main #login-container #login-inner #forgot-container2 #forgot-text {
    font-size: 17px;
    color: #fff;
}

#login-main #login-container #login-inner #register-container #register-link,
#login-link,
#login-main #login-container #login-inner #forgot-container2 #forgot-link,
#back-link {
    text-decoration: none;
    color: #3decff;
}

#login-main #login-container #login-inner #register-container #register-link:hover,
#login-link:hover,
#login-main #login-container #login-inner #forgot-container2 #forgot-link:hover,
#back-link:hover {
    transition: all 1s;
    color: #fff;
}

#rememberme-container {
    display: flex;
}
#rememberme {
    float: left;
    width: 50px !important;
    margin-top: 10px;
}

#index-main {
    margin-left: var(--sidebar-width);
}

.online {
    color: #5bfc58;
}


/* PROJECTS CSS */

#projects-main {
    margin-left: var(--sidebar-width);
}

#projects-main #projects-container {
    width: 100%;
}

#projects-main #projects-container #projects-inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects-main #projects-container #projects-inner .project-item {
    width: fit-content;
    padding: 0px 20px 0px 20px;
}
#projects-main #projects-container #projects-inner .project-item .project-image {
    width: fit-content;
}

#projects-main #projects-container #projects-inner .project-item .project-name {
    text-align: center;
}




body {
    position: relative ;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 240px;
    background: #11101d;
    padding: 6px 14px;
}


.sidebar .logo-content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo-content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 80%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    line-height: 50px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    background: #1d1b32;
    padding-left: 50px;
    font-size: 18px;
}

.sidebar ul li a {
    columns: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    border-radius: 12px;
}

.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}










