@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');

}

@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'SpaceMono';
}

:root {
    --sidebar-width: 300px;
}

/* HEADER */
header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: #1c1c1c;
}

#title {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

#title-text {
    color: #fff;
}

#user {
    display: flex;
    justify-content: space-evenly;
}

#user-info {
    display: flex;
    flex-direction: column;
}

#user-name {
    color: #fff;
}

#user-status {
    color: #fff;
}

nav {
    margin-top: 6%;
}

#navigation {
    text-align-last: center;
}

.nav-item {
    text-align: right;
    margin-right: 4%;
}

.nav-item a {
    color: #fff;
}

.nav-link {
    color: #000;
    font-size: 23px;
    font-weight: 300;
}

.nav-icon {
    margin-right: 1rem;
}

#home-link:hover {
    color: #A80000;
}

#chart-link:hover {
    color: #FFA500;
}

#excel-link:hover {
    color: #1D6F42 !important;
}

.fa-home {
    color: #A80000 !important;
}

.fa-chart-pie {
    color: #FFA500 !important;
}

.fa-file-excel {
    color: #1D6F42 !important;
}

#social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.fas,
.fab {
    color: #fff;
}

#options-bar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: var(--sidebar-width);
}

.setting {
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
}

.social-icons {
    font-size: 25px;
}


.fa-user:hover {
    transition: all .8s;
    color: #3decff;
}

.fa-envelope:hover {
    transition: all .8s;
    color: #D44638;
} 

.fa-cog:hover {
    color: grey;
    transition: all .5s;
    -webkit-animation: spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.fa-power-off:hover {
    transition: all .8s;
    color: #ff0000;
}


/* HEADER */

#login-main,
#register-main {
    width: 100vw;
    height: 100vh;
    background: rgb(108,194,245);
    background: linear-gradient(90deg, rgba(108,194,245,1) 0%, rgba(97,238,255,1) 50%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#login-container,
#register-container2 {
    position: relative;
    background-color: #fff;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    left: 25%;
    top: 15%;
    right: 0;
    bottom: 0;
    border-right: 40px solid #3decff;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.3);
}

#login-inner,
#register-inner {
    margin-top: 5%;
}

form {
    margin-top: 15%;
}

label {
    font-size: 20px;
    font-weight: 100 !important;
}

input {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #3decff !important;
    width: 280px !important;
}

input:focus {
    transition: all .5s;
    border: 1px solid #3decff !important;
}

button {
    font-size: 15px;
    width: 150px;
    height: 40px;
    background-color: #3decff;
    border: 0;
    color: #fff;
}

button:hover {
    transition: all 1s;
    border: 1px solid #3decff;
    background-color: #fff;
    color: #000;
}

.form-input {
    
}

#register-text,
#login-text {
    font-size: 17px;
}

#register-link,
#login-link {
    text-decoration: none;
    color: #3decff;
}

#register-link:hover,
#login-link:hover {
    transition: all 1s;
    color: #000;
}

#rememberme-container {
    display: flex;
}
#rememberme {
    float: left;
    width: 50px !important;
    margin-top: 10px;
}

