
@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'SpaceMono';
}


::placeholder {
    color: rgba(255, 255, 255, .2);
}

body {
    overflow-y: scroll;
    color: #fff;
    background: #121212;
}



#login-main,
#register-main,
#forgot-main,
.main {
    width: 100vw;
    height: 100vh;
    background: #212121; /* #070c24 */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

#login-main #login-container,
#register-main #register-container2,
#forgot-main #forgot-container,
.main .main-container {
    position: relative;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 20px;
    background: #2c2c2c; /* #1d1b32 */
}

.main .main-container {
    left: 25%;
}

.container::after {
    display: block;
}

.chart_spacer {
    padding-top: 20px;
}

#login-main #login-container::before,
#register-main #register-container2::before,
#forgot-main #forgot-container::before,
.main .main-container::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 200%;
    background: linear-gradient(#aa2400, #e46505); /* #00ccff, #d400d4 */
    box-shadow: 0 0 2em .5em #e46505;
    animation: animate 4s linear infinite;

}

#login-main #login-container::after,
#register-main #register-container2::after,
#forgot-main #forgot-container::after,
.main .main-container::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #212121; /* 070c24 */
    border-radius: 20px;
}

@keyframes animate {
    0% 
    {
        transform: rotate(0deg);
    }
    100% 
    {
        transform: rotate(360deg);
    }
} 

#login-main #login-container #login-inner,
#register-main #register-container2 #register-inner,
#forgot-main #forgot-container #forgot-inner,
.main .main-container .main-inner {
    margin-top: 5%;
    z-index: 1;
    color: #fff;
}


#login-main #login-container #login-inner form,
#register-main #register-container2 #register-inner form,
#forgot-main #forgot-container #forgot-inner form {
    margin-top: 15%;
}

label {
    font-size: 20px;
    font-weight: 100 !important;
    color: #fff;
}

#login-main #login-container #login-inner form .form-group .form-input,
#register-main #register-container2 #register-inner form .form-group .form-input,
#forgot-main #forgot-container #forgot-inner form .form-group .form-input,
.main .main-container .main-inner form .form-group .form-input {
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #aa2400 !important; /* #070c24 */
    width: 280px !important;
    color: #fff;
    background: #2c2c2c; /* #1d1b32 */
    padding-left: 10px;
}

#login-main #login-container #login-inner form .form-group .form-input:focus,
#register-main #register-container2 #register-inner form .form-group .form-input:focus,
#forgot-main #forgot-container #forgot-inner form .form-group .form-input:focus,
.main .main-container .main-inner form .form-group .form-input:focus,
input:-internal-autofill-selected {
    transition: all .5s ease;
    border: 1px solid #aa2400 !important; /* #1d1b32 */
    padding-left: 10px;
    background: #212121 ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #2c2c2c inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}

#login-main #login-container #login-inner form button,
#register-main #register-container2 #register-inner form button,
#forgot-main #forgot-container #forgot-inner form button,
.main .main-container .main-inner form button {
    font-size: 15px;
    width: 100px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #e46505;
    border: #e46505 0.125em solid;
    border-radius: .25em;
    text-align: center;
    padding: 0;

    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.5),
    0 0 .45em currentColor;

    box-shadow: inset 0 0 .5em 0 #e46505,
    0 0 .5em 0 #e46505;

    position: relative;
    
}

#login-main #login-container #login-inner form button::before,
#register-main #register-container2 #register-inner form button::before,
#forgot-main #forgot-container #forgot-inner form button::before,
.main .main-container .main-inner form button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: #e46505;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(2em) rotateX(50deg) scale(1, 0.25);
    filter: blur(2em);
    opacity: .7;
    transition: opacity 500ms ease;

}

#login-main #login-container #login-inner form button::after,
#register-main #register-container2 #register-inner form button::after,
#forgot-main #forgot-container #forgot-inner form button::after,
.main .main-container .main-inner form button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em .5em #e46505;
    opacity: 0;
    background-color: #e46505;
    z-index: -1;
    transition: opacity 500ms ease;

}

#login-main #login-container #login-inner form button:hover,
#login-main #login-container #login-inner form button:focus,
#register-main #register-container2 #register-inner form button:hover,
#forgot-main #forgot-container #forgot-inner form button:hover,
.main .main-container .main-inner form button:hover,
.main .main-container .main-inner form button:focus {
    background: #e46505;
    color: #212121;
    text-shadow: none;
}

#login-main #login-container #login-inner form button:hover::after,
#login-main #login-container #login-inner form button:focus::after {
    opacity: 1;
    transition: opacity 500ms ease;
}

#login-main #login-container #login-inner form button:hover::before,
#login-main #login-container #login-inner form button:focus:before {
    opacity: 1;
    transition: opacity 500ms ease;
}

#login-main #login-container #login-inner #register-container #register-text,
#register-main #register-container2 #register-inner #register-container #login-text,
#login-main #login-container #login-inner #forgot-container2 #forgot-text,
.form-text {
    font-size: 17px;
    color: #fff;
}

#login-main #login-container #login-inner #register-container #register-link,
#register-main #register-container2 #register-inner #register-container #login-link,
#login-main #login-container #login-inner #forgot-container2 #forgot-link,
#forgot-main #forgot-container #forgot-inner #back-container #back-link,
.form-links {
    font-size: 17px;
    text-decoration: none;
    color: #e46505;
}


#rememberme-container {
    display: flex;
}

#rememberme {
    float: left;
    width: 50px !important;
    margin-top: 10px;
}

/* PROJECTS CSS */

#projects-main #projects-container {
    width: 100%;
}

#projects-main #projects-container #projects-inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects-main #projects-container #projects-inner .project-item {
    width: fit-content;
    padding: 0px 20px 0px 20px;
}
#projects-main #projects-container #projects-inner .project-item .project-image {
    width: fit-content;
}

#projects-main #projects-container #projects-inner .project-item .project-name {
    text-align: center;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(#e46505, #aa2400);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .8);
}


#mid-container {
    padding-top: 2%;
}

.overlay {
    position:fixed;
    display:none;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0, 0, 0, 0.8);
    z-index:9999;
}
.close {
    position:absolute;
    top:-40px;
    right:-5px;
    width:25px;
    height:25px;
    cursor:pointer;
    color: #fff;
    display: inline-block;
}
.popup {
    position:absolute;
    width:60%;
    height:60%;
    top:20%;
    left:20%;
    text-align:center;
    border-radius: 10px;
    background:#151324;
    box-shadow: 0px 0px 10px 0px black;
}
.popup .popup_title {
    font-size:25px;
    height:50px;
    line-height:50px;
    color:#fff;
    background:#1d1b32;
    border-radius:10px 10px 0px 0px;
}

.fas, .fab, .fa, .bx {
    color: #e46505 !important;
}




/* Project Cards */
.card {
    color: #fff;
    background-image: url(https://via.placeholder.com/500);
    background-size: cover;
    padding: 18rem 0 0;
    max-width: 35ch;
    border: 0;


}

.card .card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(255 0% 0% / .3) 20%,
        hsl(0 0% 0% / 1)
    );
}

.card .card-content h2 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .5px;
}

.card-title {
    position: relative;
    width: max-content;

}

.card-title::after {
    content: '';
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 4px;
    width: calc(100% + var(--padding));
    background: #e46505;
}